div#meters {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: .5em;
}

div#meters > div {
  margin: 0 0 1em 0;
}

div#meters div.label {
  display: inline-block;
  font-weight: 400;
  margin: 0 0.5em 0 0;
  width: 7em;
}

div#meters div.value {
  display: inline-block;
}

meter {
  width: 35%;
}

meter#slow {
color: #f4b400;
}

meter#instant {
color: #0f9d58;
}
