#showDetailContent {width: 400px;height: auto;position: absolute;overflow-y: auto;overflow-x: hidden;
left: 1638px;top: 100px;margin: 0px;max-height:9.03rem;}
.notReadRecord {	margin-top: 15px;padding-bottom: 5px;padding-right: 3px;
background-color: #444;border-radius: 4px;box-shadow: 0px 0px 15px #100400;width: 100%;cursor: pointer;}
#alertHref{background-image: url(../images/live-red.png);background-repeat: no-repeat;background-size: 13px;
	-wekit-background-size: 13px;
	-moz-background-size: 13px;
	-o-background-size: 13px;
	-ms-background-size: 13px;
	background-position: 90% 30%;margin-right:25px;padding-right:25px;}
#alertHref.hasMsgShow{background: none!important;}
#hasNotReadMsgTip {height: 10px;width: 10px;background-color: red;border-radius: 50%;position: absolute;display: none;}
#showDetailContent.popupContent {display: none;padding:0px;min-height: 100px;width: 350px;
position: absolute;background-color: transparent;border: none;z-index: 2;
box-shadow : none;}
#showDetailContent .popupContent_header {line-height: 100%;padding: 20px;}
.popup_alert_icon {margin-left: 5px;margin-top: 5px;position: absolute;}
.popup_alert_icon img{width: 20px;height:100%}
.popup_alert_content {width: 90%;margin-top: 5px;margin-left: 10%;}
.popup_alert_content .alert_tip {width: 14%;}
.popup_alert_content .alert_contain {width: 86%;word-break: break-all;}
.popup_alert_msg {word-break: break-all;color: #cccccc;}
.popup_alert_msg div{padding-left: 14%;}
.not_read_alert_first {margin-top: 5px;}
.showMsgIcon:after {content: ""; display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #db1a14; position: absolute; top: 25px}
.listAlertIcon:after {content: ""; display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #db1a14; position: absolute; top: 30px; right: 35px;}
