body{
    background-color: rgba(250,250,250,1);
    color:#000;
}
h2{
    margin:0;
}
#website_title_text{
    color: #fff;
}
.icon-download:before {content: "\e683";}
.body .content-area{
    width:848px;
    margin:140px auto 0;
}
.body .tab{
    float: left;
    width:336px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(81,81,81,0.34);
    border-radius:4px;
    padding-right: 30px;
}
.body .tab li{
    width:336px;
    height:56px;
    line-height: 56px;
    background:rgba(220,220,220,0);
    font-size:18px;
    font-family:Gotham-Medium;
    color:rgba(102,102,102,1);
    padding-left: 20px;
    cursor: pointer;
}
.body .tab li.active{
    background:rgba(239,239,239,1);
    color:rgba(51,171,79,1);
}
.body .content{
    float: right;
    width:480px;
    height:748px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(81,81,81,0.34);
    border-radius:4px;
    padding:32px 40px;
}
.body .content h2{
    height:29px;
    font-size:24px;
    color:rgba(51,51,51,1);
    line-height:29px;
    margin-bottom:40px; 
}
.download ul,.user-history ul{
    margin-bottom: 24px;
}
.download .video-list,.user-history ul{
    height:532px;
}
.download li,.user-history li{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(239,239,239,1);
}
.download .start-time{
    height:19px;
    font-size:16px;
    color:rgba(51,51,51,1);
    line-height:19px;
    padding-top:5px;
}
.download .delete-time{
    height:12px;
    font-size:12px;
    color:rgba(102,102,102,1);
    line-height:30px;
}
.download .pic-opt {
    padding-top: 8px;
}
.download .pic-opt .frontcover{
    width:160px;
    height:90px;
}
.download .pic-opt .download-btn{
    text-decoration: none;
    display: block;
    width:112px;
    height:24px;
    background:rgba(51,171,79,1);
    border-radius:4px;
    margin-top:40px;
    font-size:14px;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height:24px;
    cursor: pointer;
}
.page{
    float: right;
}
.pre-page{
    cursor: pointer;
    display:inline-block;
    width:0;
    height:0;
    border-top: 6px solid transparent;
    border-right: 10px solid rgba(51,171,79,1);
    border-bottom: 6px solid transparent;
}
.page-content{
    margin-left:6px;
    margin-right: 6px;
}
.next-page{
    cursor: pointer;
    display:inline-block;
    width:0;
    height:0;
    border-top: 6px solid transparent;
    border-left: 10px solid rgba(51,171,79,1);
    border-bottom: 6px solid transparent;
}
.user-history li{
    height: 55px;
    margin-bottom: 10px;
}
.user-history  .create-time p:nth-child(1){
    color:rgba(153,153,153,1);
}
.user-history  .create-time p:nth-child(2){
    font-size:20px;
    color: #333;
    margin-top: 10px;
}
.user-history .remain-time{
    margin-top: 18px;
    float: right;
    font-size: 14px;
    color: #999;
}
.userBussinessType{
    width: 44px;
    height: 20px;
    margin-left: 16px;
    margin-top: 12px;
    line-height: 20px;
    text-align: center;
    color: #33AB4F;
    border-radius: 11px;
    border: 1px solid rgba(51,171,79,1);
}
.tip-download{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    margin:auto;
    width:480px;
    height:462px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(81,81,81,0.34);
    border-radius:4px;
    padding:32px 40px;
    display: none;
}
.tip-download h2{
    font-size:24px;
    color:rgba(84,84,84,1);
    line-height:29px;
    padding-bottom: 24px;
}
.tip-download p{
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.tip-download .tip_img{
    padding-left:80px;
}
.tip-download .tip_img img{
    width:240px;
    height: 177px;
}
.tip-download .confirm-btn{
    width:160px;
    height:52px;
    background:rgba(51,171,79,1);
    border-radius:26px;
    font-size:20px;
    color:rgba(255,255,255,1);
    line-height:52px;
    text-align: center;
    margin-left: 120px;
    margin-top: 32px;
    cursor: pointer;
}
.download .pre-page.disabled{
    border-right: 10px solid #999;
    cursor: not-allowed;
}
.download .next-page.disabled{
    border-left: 10px solid #999;
    cursor: not-allowed;
}
#website_title{
    display: block;
}
.tab h2{
    padding-left: 20px;
    padding-top: 24px;
    font-size: 20px;
    color: rgba(84,84,84,1);
    line-height: 24px;
    padding-bottom: 20px;
}
.greenColor{
    color:#33AB4F!important;
}
